<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <title>smoke-web</title>
    <script src="/smoke/reload"></script>
    {{style-element}}
    {{script-element}}
  </head>
  <body>
    <div id="container">
      <div id="directory">
        <div class='header'>
          <div class='breadcrumb'>
            <span>smoke-web</span>
            <ul>
              {{breadcrumb}}
            </ul>
            <span class='last'><input id='search' type='text' placeholder=""></input></span>
          </div>
        </div>
        <div class='content'>
          <div class='listing'>
            <ul>
              {{listing}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>