<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <title>smoke-web</title>
    <script src="/smoke/reload"></script>
    {{style-element}}
    {{script-element}}
  </head>
  <body>
    <div id="container">
      <div id="directory">
        <div class='header'>
          <div class='breadcrumb'>
            <span>smoke-web</span>
            <ul>
              {{breadcrumb}}
              <!-- 
              <li><a href='#'>root</a></li>
              <li><a href='#'>styles</a></li>
              <li><a href='#'>script</a></li>
              -->
            </ul>
            <span class='last'><input id='search' type='text' placeholder=""></input></span>
          </div>
        </div>
        <div class='content'>
          <div class='listing'>
            <ul>
              {{listing}}
              <!-- 
              <li class='directory-item'><a href='#'>scripts</a></li>
              <li class='directory-item'><a href='#'>styles</a></li>
              <li class='directory-item'><a href='#'>images</a></li>
              <li class='file-item'><a href='#'>index.html</a></li>
              <li class='file-item'><a href='#'>about.html</a></li> 
             -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>